@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/iranSans.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "iranSans";
  direction: rtl;
}

.bg-image {
  background-image: url("./assets/background.png");
  object-fit: cover;
}

[dir="rtl"] .material-select-button {
  display: flex;
  flex-direction: row-reverse;
}
[dir="rtl"] .material-select-button svg {
  margin-left: auto;
  margin-right: 0;
}
